@font-face {
  font-family: PlusJakartaSans;
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

html {
  font-size: 16px;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  background-color: #dde7ee;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article {
  background-color: white;
  width: 45.6rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.7rem;
}

.content-header {
  height: 5.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content-header-left {
  width: 21rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-header-right {
  width: 21rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-weight: 700;
  padding-left: 0.2rem;
  color: #1c202b;
  font-size: 1.4rem;
  letter-spacing: 0.068rem;
}

.badge {
  background-color: #0a317b;
  width: 1.92rem;
  height: 1.47rem;
  border-radius: 0.4rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.75rem;
}

.like-link {
  font-size: 1rem;
  margin-right: 0.2rem;
  cursor: pointer;
  color: #5e6778;
}

.read-mark {
  padding-left: 0.5rem;
}

.vue {
  visibility: visible;
}

.no-vue {
  visibility: hidden;
}

.grey {
  background-color: #f7fafd;
}

.white {
  background-color: white;
}

.showPosts {
  width: 42rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 41.7rem;
  margin-bottom: 0.65rem;
  border-radius: 10px;
}

.post-container-left {
  width: 5rem;
  min-width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.2rem;
}

.avatar {
  width: 2.8rem;
  height: auto;
  cursor: pointer;
}

.post-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.2rem 0.2rem;
}

.post-container-right p.info {
  margin: 0;
  margin-top: 1rem;
}

.name {
  font-weight: 800;
  color: #1c202b;
  letter-spacing: 0.015rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.name:hover {
  color: #0a317b;
}

.post {
  font-weight: 800;
  padding-left: 0.5rem;
  letter-spacing: 0.03rem;
  color: #5e6778;
  cursor: pointer;
}

.post:hover {
  color: #0a317b;
}

.action {
  color: #939dae;
}

.group {
  font-weight: 700;
  padding-left: 0.5rem;
  color: #5e6778;
  cursor: pointer;
}

.group:hover {
  color: #0a317b;
}

.post-container-right p.time {
  margin: 0;
  margin-top: 0.2rem;
  margin-bottom: 0.67rem;
  color: #939dae;
}

.message {
  margin-top: -0.55rem;
  margin-left: 5.2rem;
  height: 5.8rem;
  width: 35.4rem;
  border: 1px solid #dde7ee;
  margin-bottom: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.message:hover {
  background-color: #dde7ee;
}

.message p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding: 0.8rem 1.2rem;
  letter-spacing: 0.008rem;
  color: #5e6778;
}

.image {
  width: 3rem;
  height: auto;
  margin-top: 0.6rem;
  margin-left: 5.5rem;
}
/*# sourceMappingURL=style.css.map */